<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/statics/styles/main.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="my_container">
        <div class="center"> <h1>My Cine World</h1></div>
         
             
            <div class="input_form">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Summary</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                          </li>
                        </ul>
                          <span class="navbar-text">
                            Welcome to "Admin" 
                          </span>
                         
                       </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Venue1 card here -->
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">Venue#1</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Cineworld</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <button type="button" class="btn btn-primary">+Add Show</button>
                                </div>
                            </div>
                            <!-- End of Venue1 -->
                        </div>
                        <div class="col-md-6">
                            <!-- Venue2 card here -->
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">Venue#2</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Inox Movies</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <button type="button" class="btn btn-primary">+Add Show</button>
                                </div>
                            </div>
                            <!-- End of Venue2 -->
                        </div>
                    </div>
                </div>
                
                       
                       
                    
            </div>
          <div class="center"> <button type="button" class="btn btn-primary">+Add Venue</button></div>
        </div>
         

    </div>
</body>
</html>