<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/statics/styles/main.css">
    <title>Login</title>
</head>
<body>
    <div class="my_container">
        <div class="center"> <h1>My Cine World</h1></div>
        <div class="my_panel">
            <div class="center"><h3>Login</h3></div>
            <div class="input_form">
                <form>
                    <div class="mb-3">
                      <label for="user_name" class="form-label">User Name(E-Mail)</label>
                      <input type="email" class="form-control" id="user_name" aria-describedby="iitm@study.ac.in">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" aria-describedby="password">
                    </div>

                    <button type="button" class="btn btn-primary">Login</button>
                    New user?<a href="#">Signup</a>
                     
                  </form>
            </div>
        </div>
    </div>
</body>
</html>