<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/statics/styles/main.css">
    <title>User Dashboard</title>
</head>
<body>
    <div class="my_container">
        <div class="center"> <h1>My Cine World</h1></div>
         
             
            <div class="input_form">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Profile</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Booking</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                          </li>
                        </ul>
                          <span class="navbar-text">
                            Welcome to "User" 
                          </span>
                         
                       </div>
                    </div>
                </nav>
            <!-- Venue1 is started -->
             <div class="outer_box"> 
                Venue#1
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- show1 card here -->
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">Show1</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Some action movie</h6>
                                     
                                    <button type="button" class="btn btn-primary">Book</button>
                                </div>
                            </div>
                            <!-- End of show1 -->
                        </div>
                        <div class="col-md-6">
                            <!-- show1 card here -->
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">Show2</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Some action movie</h6>
                                     
                                    <button type="button" class="btn btn-danger">Housefull</button>
                                </div>
                            </div>
                            <!-- End of show1 -->
                        </div>
                    </div>
                </div>                       
             </div>
              <!-- Venue2 is ended                -->
             <div class="outer_box">
                Venue#2
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- show1 card here -->
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">Show1</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Some action movie</h6>
                                     
                                    <button type="button" class="btn bin-outline-warning">Fast filling</button>
                                </div>
                            </div>
                            <!-- End of show1 -->
                        </div>
                        <div class="col-md-6">
                            <!-- show2 card here -->
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">show2</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">commedy</h6>
                                    <button type="button" class="btn btn-primary">Book</button>
                                </div>
                            </div>
                            <!-- End of show2 -->
                        </div>
                    </div>
                </div>
             </div>
                       
                    
            </div>

        </div>
         

    </div>
</body>
</html>